#!/usr/bin/env xdg-open
[Desktop Entry]
Name=BugOpen
Type=Application
Terminal=no

Path=~/.local/BugOpen
Exec=java --module-path /snap/openjfx/current/sdk/lib/ --add-modules javafx.controls BugOpen
Icon=BugOpen.png
